body {
    margin:0;
}

:root {
  --primary-color: #000;
  --secondary-color: #404850;
  --tertiary-color: #eaeaea;
  --button-color: #171e25;
  --button-border-color: #12181b;
  --button-active-color: #73a4b8;
  --button-active-border-color: #6fc3e5;
  --primary-text-color: #eaeaea;
  --secondary-text-color: #73a4b8;
}

button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  padding: 10px;
  font-size: .75em;
  border: none;
  border-width: 1px;
  border-radius: 3px;
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: var(--button-color);
  border-color: var(--button-border-color);
  box-shadow: 0 3px 3px #12181B;
}

button:hover {
  background-color: var(--button-active-color);
}

button::before, a.thumbs-up::before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  background-size: contain;
  margin-right: 10px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  padding: 20px;
}

.top-bar > h1 * {
    vertical-align: middle;
}

.top-bar > dl {
  display: flex;
  flex-wrap: wrap;
}

.top-bar > dl > div {
  margin-right: 15px;
}

.top-bar nav button {
    display: flex;
    width: auto;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
